<p><h1>Contato</h1></p>
<form>
	<fieldset>
		<legend>Deixe sua mensagem critica ou sugestão</legend>
		<p><label for="txtNome" class="">Nome</label></p>
		<p><input type="text" name="txtNome" id="txtNome" placeholder="Digite seu nome" maxlength="30" minlength="10" required=""></p>
		<p><label for="txtEmail">Email</label></p>
		<p><input type="email" name="txtEmail" id="txtEmail" required="" placeholder="Digite seu Email" title="email@provedor.com"></p>
		<p><label for="txtMensagem">Deixe sua Mensagem</label></p>
		<p><textarea name="txtMensagem" id="txtMensagem" minlength="10" maxlength="100" required="" placeholder="Deixe uma mensagem de no maximo 100 caracteres"></textarea></p>
		<p><input type="submit" name="btEnviar" id="btEnviar" value="Enviar" class="btn btn-lg btn-primary"></p>
	</fieldset>
</form>