<div class="sobre">
	<h2><p>Sobre</p></h2>
	<h3><p>Sobre o autor do site</p></h3>
	<figure class="sobre-will">
		<img src="src/img/perfil.jpg" alt="Perfil William">
		<figcaption>Autor do site</figcaption>
	</figure>
	<div class="apresentacao">
		<p><strong>William Moura da Silva 25 anos</strong></p>
		<p>Começou a programar aos 13 anos em um curso meia boca de "Visual Basic", aos 16 fez um curso de "Hardware" em uma escola melhor conceituada,
		aos 21 fez um curso técnico de informática na "ETESP"("Escola Técnica Estadual de São Paulo") aonde viu muito sobre programação e definitivamente definiu os rumos da sua vida e aonde decidiu que ama programar e é o melhor que sabe fazer, Em seguida começou na "Universidade Anhembi Morumbi" no "Curso de Analise e Desenvolvimento de Sistemas".</p>
		<h4><p>Redes Sociais</p></h4>
		<p><a href="http://www.github.com/williamMoura" target="_blank"><img src="src/img/github-logo.jpg" alt="logo github"></a></p>
		<p><a href="https://www.facebook.com/william.mouradasilva.9" target="_blank"><img src="src/img/facebook-logo.png" alt="logo github"></a>
		</p>
	</div>
</div>